.tile {
    display: flex;
    margin: 0.25rem;
}
.tile.col {
    flex-direction: column;
}

.tile.row .wrapper {
    margin-right: 0.5rem;
}
.tile.col .wrapper {
    margin-bottom: 0.5rem;
}

.wrapper {
    display: flex;
    flex: 1;
}
.wrapper:last-child {
    margin: 0!important;
}

.wrapper img {
    width: 100%;
}