.container {
  max-width: 90rem;
  margin: auto;
}

.main {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-family: 'Archivo', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.header > div {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 4.5rem;
}

.header > div:not(:last-child) {
  margin-right: 1rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index: 100;
}

.nav > a {
  padding-bottom: 0.2rem;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.toc {
  position: fixed;
  top: 0;
  right: 0;
  width: 23rem;
  z-index: 100;
}

.toc li {
  list-style: none;
  text-indent: -1.5em;
  margin-left: 1.5em;
  line-height: 1.25rem;
}

.toc li:before {
  content: '— ';
  width: 1.5em;
}

.toc li a {
  color: inherit;
}

.toc li a:hover {
  color: blue;
}

.name {
  text-align: right;
  padding: 1rem;
}

.contact div > a:first-child {
  margin-right: 1rem;
}

.gc {
  width: 50rem;
  margin: auto;
  transform: translateX(-10rem);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact > span:first-child {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .nav, .toc {
    position: relative;
  }
  .nav {
    flex-direction: row;
    justify-content: space-around;
  }
  .toc {
    width: 100%;
  }
  .toc > ul {
    display: none;
  }
  .gc {
    width: 100%;
    transform: none;
  }
  .main {
    padding: 0 1rem;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .nav {
    left: calc(50vw - 45rem);
  }

  .toc {
    right: calc(50vw - 45rem);
  }
}